html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 15px 0;
  text-align: center;
}

p {
  margin: 0 auto;
  width: 80%;
  text-align: center;

}

div.container {
  width: 100%;
}

div.hello {
  border: 2px dashed red;
  margin: 50px auto;
  padding: 25px;
  width: 400px;
  box-sizing: border-box;
}