@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.descriprion {
    font-size: 20px;
}
.price {
    font-size: 30px;
    color: red;
    font-weight: bold;
}
.category {
    font-size: 20px;
 color: grey;
}
.category:hover {
    color: red;
}
.name {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name:hover {
    color: red;
}
body {
    margin: 0;
}
img {
    width: 385px;
    height: 216px;
    vertical-align: middle;
    margin: 20px 0 0 50px;
}
.allcats {
    margin: 30px;

}
.cat {
    padding: 0;
    margin: 15px;
    width: 80%;
    height: auto;
    border: 3px solid black;
}
.cat:hover img {
    opacity: 0.7;
}
#inline:checked ~ .allcats .cat {
    width: 500px;
    display: inline-block;
    height: 600px;
}
#inline:checked ~ .allcats .cat .category {
    width: 100%;
    margin-left: 15px;
}
#inline:checked ~ .allcats .cat .price {
    text-align: center;
}
#inline:checked ~ .allcats .cat > * {
    display: block;
}
#inline:checked ~ .allcats .cat .descriprion {
    margin-top: 100px;
    text-align: center;
}
#block:checked ~ .allcats .cat > * {
    display: inline-block;
}
#block:checked ~ .allcats .cat {
    width: 80%;
}
#block:checked ~ .allcats .cat .descriprion {
    /*margin: -240px 0 auto 400px;  */
    width: 40%;
    margin-top: -200px;
    margin-left: 800px;
    display: inline-block;
    vertical-align: middle;
}
#block:checked ~ .allcats .cat .descriprion1 {
    margin-left: 150px;
    display: inline-block;
    vertical-align: middle;
}
.rating {
    float:left;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/
#inline:checked ~ .allcats .cat .descriprion1 .rating {
    margin-left: 180px;
}
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
